header {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  background-color: rgb(38, 38, 44);
}

header > a {
  margin: 0 auto;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.link-container {
  background-color: rgb(79, 77, 77);
  color: white;
  font-size: 1.2rem;
  box-sizing: border-box;
  margin: 8px;
  width: 250px;
  height: 150px;
  border-radius: 5px;
  text-align: center;
  padding: 60px 0px;

}

table, tr, th {
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  background-color: rgb(73, 73, 84);
}

.starship-card {
  margin: 20% auto;
  padding: 13px;
  border-radius: 8px;
}

th {
  text-align: left;
  padding: 5px;
}

.return-link {
  text-decoration: underline;
}